.a {
    background-color: #35d7e6;
    }

    .b {
        background-color: #e635ce;
        }
        .c {
            background-color: #d7e635;
            }
            .d {
                background-color: #35e64f;
                }
               