<form [formGroup]="form" (ngSubmit)="onsub()">
    <mat-form-field>
      <mat-label>cin</mat-label>
      <input matInput formControlName="cin" >
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>cv</mat-label>
        <input matInput formControlName="cv">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>type</mat-label>
        <input matInput formControlName="type">
      </mat-form-field>
    <br>
      <button type="submit">submit</button>
  </form>
  